*{
    margin:0;
    padding: 0;
}
body {
    font-family: 'Outfit', sans-serif;
    color: #ffb700;
    line-height: 1.6;
    background-color: #0f0f0f;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: #0f0f0f;
}
.logo{
    font-size: 40px;
    color: #ffb700;
    font-weight: 800;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
    color: #ffb700;
    font-size: 20px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #f5cb5c;
}
.hero{
    background-image: url(bg.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.hero-content h1{
       font-size: 80px;
       margin-bottom:20px ;
       text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.hero-content p{
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.btn {
    text-decoration: none;
    color: #0f0f0f;
    display: inline-block;
    padding: 12px 20px;
    background-color: #ffb700;
    border-radius: 50px;
    font-weight: 600;
}
.btn:hover {
    background-color: #0f0f0f;
    color: #ffb700;
}
.section-title{
       text-align: center;
       padding-top: 30px;
       font-weight: 600;
       font-size: 40px;
}
.section-para {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 200;
}
.card-container {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
}
.card{
    background-color: #2a2929;
    border-radius: 50px;
    overflow: hidden;
    width:300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}
.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card-content {
    padding: 20px;
    flex-grow: 1;
    /* Makes sure footer aligns if content varies */
    display: flex;
    flex-direction: column;
}

.card-content h3 {
    margin-bottom: 10px;
    align-self: center;
}
.price{
    font-size: 15px;
    align-self: center;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
footer {
    margin-top: 50px;
    text-align: center;
    padding-top: 100px;
}